.home{
    margin: auto;
    text-align: center;
    padding-bottom: 100px;

    .block-text {
        text-align: left;
    }

    .container{
        max-width: 1300px;
    }
    
    .home-block {
        position: relative;
        border: 1px solid black;
        padding:10px;
        height: 200px;
        overflow: hidden;

        .img-presentation {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: inherit;
            width: 30%;
        }
    }

    .all-categories {
        .btn{
            border-radius: 20px;
            padding: 10px 15px;
        }
        a, a:hover {
            text-decoration: none !important;
            color: inherit;
        }
    }

    .section2 {
        padding:10px;

        .bg-light {
            background-color: x²rgb(245, 245, 245) !important;
        }

        .product-badge{
            position: absolute;
            left: 0;
            z-index: 1;
            font-size: 15px;
            color: rgba(255, 0, 0, 0.76);
            border: 0px solid green;
            padding: 10px;
        }
        .countdown {
            display: flex;
            justify-content: center;
        
            .date-item {
                margin: 25px 5px;
        
                .days, .hours, .mins, .secs{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width:48px;
                    height: 48px;
                    border-radius: 5px;
                    border:1px solid gray;
                    font-size: 25px;
                }
                div{
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25%;
    
            .btn {
                border-radius: 20px !important;
                padding: 10px 15px;
            }
        }

        .img-container{
            padding: 15px;
            div{
                height: 100%;
            }
            
        }
    }

    .section3{
        padding: 10px;
        .img-cover{
            display: block;
            position: relative;
            height: 100%;
            padding: 96px 0 !important;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #d6c3b55e;
                z-index: 0;
            }

            .text0 {
                font-size: 30px;
            }
            .text1 {
                font-size: 50px;
                position: relative;
                font-weight: 900;
                color: dark;
            }
            .text2 {
                font-size: 25px;
            }
        }
    }

    .section4 {
        padding: 5px;
        .product-card-thumb{
            height: 296px;
        }
        /* .item {
            padding: 5px;
        } */
    }

    .section5 {
        text-align: left;
        .widget-title{
            border-bottom: 1px solid #e1e7ec;
            color: #9da9b9;
        }
        .entry{
            display: table;
            width: 100%;
        }
        .entry-thumb {
            display: flex;
            justify-content: center;
        }
        .entry-content  {
            display: table-cell;
            vertical-align: middle;
        }
        .entry-title{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 4px;
            color: #374250;
        }
        .entry-price{
            font-size: 13px;
            color: #606975;
        }
    }
    
    .section6 {
        .brand-container img {
            margin: auto;
            width: 30%;
            @media only screen and (max-width:768px){
                width: 55%;
            }
        }
    }
}
