
.item {
    position: relative;
    height: 380px;
    border: 0px solid black;
    margin: 10px 0;
}
.thumbnail {
    padding: 5px;
    border:0px solid red;
    height: 340px;
    overflow: hidden;
}
.caption {
    height: 30%;
    border: 0px solid blue;
}
.item-info {
    margin: 5px 0 10px 0;
}
.btn {
    border: 0!important; 
    border-radius: 0% !important;
    box-shadow: inset 0 0 0 #f5f6f9!important; 
}