
.item {
    position: relative;
    margin: 10px 0;
    .product-card-thumb{
        height: 372px;
        width: auto;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .caption {
        .item-info {
            margin: 5px 0 10px 0;
        }
        .btn{
            box-shadow: inset 0 0 0 #f5f6f9!important; 
        }
    }
}