.footer-main{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    min-height: 50px;
    line-height: 2.5;
    font-size: 12px;
    padding: 7px 0 10px 0;
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}
.part1 .span1 {
    line-height: 1.2;
    font-size:20px;
    margin-right: 10px;
}
.part1 .span2 {
    margin-right: 5px;
}

.vert-line {
    display: inline-block;
    height: 30px;
    width: 1px;
    background-color: white;
    border-radius: 20%;
    margin-left: 10px;
}

.part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.part2 a {
    margin-left:10px;
    line-height: 1.1;
}

