/* center vetically and crop image */
.carousel-item {
    position: relative;
    overflow: hidden;
    height: 600px;
}
.carousel-item img {
    position:absolute;
    transform: translateY(-50%);
    top: 50%;
}

/* convert carousel indicators to dots */
.carousel-indicators li {
    border-radius: 50% !important;
    width: 15px !important;
    height: 15px !important;
}
