.home{
    margin: auto;
    padding-bottom: 100px;

    .block-text {
        text-align: left;
    }

    .home-block {
        position: relative;
        border: 1px solid black;
        padding:10px;
        height: 200px;
        overflow: hidden;
        margin: 50px 0px;

        .img-presentation {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: inherit;
            border: 0px solid black;
            width: 30%;
        }
    }

    .all-categories {
        .btn{
            border-radius: 20px;
            padding: 10px 15px;
        }
        a, a:hover {
            text-decoration: none !important;
            color: inherit;
        }
    }

    .section2 {
        padding:10px;

        .bg-light {
            background-color: x²rgb(245, 245, 245) !important;
        }

        .product-badge{
            position: absolute;
            left: 0;
            z-index: 1;
            font-size: 15px;
            color: rgba(255, 0, 0, 0.76);
            border: 0px solid green;
            padding: 10px;
        }
        .countdown {
            display: flex;
            justify-content: center;
            border:0px solid blue;
        
            .date-item {
                margin: 25px 5px;
        
                .days, .hours, .mins, .secs{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width:48px;
                    height: 48px;
                    border-radius: 5px;
                    border:1px solid gray;
                    font-size: 25px;
                }
                div{
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25%;
    
            .btn {
                border-radius: 20px !important;
                padding: 10px 15px;
            }
        }

        .img-container{
            padding: 15px;
            div{
                left: 15px !important;
                width: calc(100% - 30px) !important;
            }
            
        }
    }

    .section3{
        padding: 10px;
        .img-cover{
            display: block;
            position: relative;
            height: 100%;
            padding: 96px 0 !important;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #d6c3b55e;
                z-index: 0;
            }

            .text0 {
                font-size: 30px;
            }
            .text1 {
                font-size: 50px;
                position: relative;
                font-weight: 900;
                color: dark;
            }
            .text2 {
                font-size: 25px;
            }
        }
    }
}
