 #login {
   min-height: 100vh;
   text-align: left;
   display: flex;
   align-items: center;
   @media screen and (max-width: 767px){
    background-image: url(https://images.pexels.com/photos/3806603/pexels-photo-3806603.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  .box-container{
    min-height: 550px;;
    height: 80vh;
    background-color: transparent  !important;
    padding: 0 !important;
  }
  .logo-container{
    background-image: url(https://images.pexels.com/photos/3806603/pexels-photo-3806603.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 767px){
      background-image: none;
      background-color: transparent;
    }
    img {
      text-align: center;
      object-fit: contain;
      opacity: 0.9;
      width: 40%;
      @media screen and (max-width: 767px){
        width: 30%;
      }
    }
  }
   .login-form{
     .form-title{
       margin-bottom: 50px;
       text-align: center;
     }
     .register-text{
       font-size: 15px;
     }
     padding: 30px;
     width: 95%;
     @media only screen and (min-width: 475px) and (max-width: 767px){
      width: 85%;
    }
   }
 }