#menu-bar {
  .container{
    max-width: 1500px !important;
  }
  .nav-logo{
    img{
      height: 40px;
      width: 25.5% !important;
    }
  }
  .nav-form{
    border-radius: 20px ;
    height: 85%;
  }
  .nav-link{
    margin-right: 1rem !important;
  }

}