.cartCard{
  margin: 5px 0;
  flex-direction: row;
  max-width: 800px;
  text-align: left;
  .cart-image{
    width: 200px;
    height: 200px;
    border: 1px solid red;
  }
  .cart-input{
    &:focus{
      outline: unset !important;
    }
  }
  .cart-num{
    border-radius: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}